.results {
  @include position-center;
  border: 1px solid black;
  font-size: $l-size;

  margin-top: 2rem;
  padding: $l-size;
  text-align: center;
  line-height: $l-size;
  &-title {
    margin-bottom: 2rem;
    font-weight: 400;
  }
  &-paragraph {
    font-size: $xl-size;
    font-weight: 300;
  }
}
