.btn {

  border-radius: 100px;
  outline: none;
  transition: all .3s ease-in-out;
  overflow: hidden;
  position: relative;

  &--start {

    background-color: $color-palette-5;
    border:1px solid darken($color-palette-5, 20);
    box-shadow: inset 0 2px 1px lighten($color-palette-5, 20);
    color: $color-palette-1;
    font-size: $l-size;
    padding: $m-size $xl-size;
    width: 80%;

    &:active {
      box-shadow: 0 1rem 2rem rgba($color-black,.2);

    //  transform: scale(.1);
      color: $color-palette-2;

        // &::after {
        //   transform: scaleX(1.4) scaleY(1.6);
        //   opacity: 0;
        // }
      }
      &:focus {
        //animation: shrink 1s;
        //transform: scale(.1);
      }
      //lägger till klass för att testa animation nu, eftersom transform verkar knasa med onclick
      &--clicked {
        background-color: $color-palette-5;
        border:1px solid darken($color-palette-5, 20);
        box-shadow: inset 0 2px 1px lighten($color-palette-5, 20);
        color: $color-palette-1;
        font-size: $l-size;
        padding: $m-size $xl-size;
        width: 80%;
        transform:  scale(.1);
      }
  }
}
@keyframes shrink {
  from {transform: scale(1)}
  to {transform: scale(.1)}
}
